@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@100;400;600&display=swap");

* {
  font-family: "Pacifico", cursive;
  font-family: "Roboto Mono", monospace;
}

body {
  padding-top: 80px;
}

span {
  color: goldenrod;
  font-size: large;
  font-weight: 600;
}

span:hover {
  color: teal;
}

.nav-link:link,
footer a:link {
  text-decoration: none;
  color: teal;
  font-size: medium;
  padding-right: 10px;
}

.nav-link:visited,
footer a:visited {
  color: grey;
}

.nav-link:hover,
footer a:hover {
  color: goldenrod;
}

.navbar-logo {
  border-radius: 100%;
  vertical-align: middle !important;
}

.navbar-nav {
  flex-direction: row;
}

.container-fluid {
  padding-bottom: 5px;
}

.hello-world,
.projects,
.skills,
.contacts {
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.section-title,
.section-title code {
  color: black;
  padding-bottom: 10px;
}

.hello-world img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.hello-world p {
  text-align: justify;
}

.cardContainer {
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.btn-dark {
  color: teal;
}

.btn-dark:hover {
  color: goldenrod;
}

.skills-bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.html {
  width: 80%;
  background-color: black;
}

.css {
  width: 60%;
  background-color: darkgrey;
}

.js {
  width: 5%;
  background-color: lightgrey;
}

.skills-tags {
  padding-top: 20px;
}

footer {
  padding-bottom: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
