:root {
  --link-redirect: teal;
  --link-visited: grey;
  --link-hover: blanchedalmond;
  --light-accent: lightgrey;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@100;400;600&display=swap");

* {
  font-family: "Pacifico", cursive;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #4a6c6f;
  padding-top: 120px;
}

footer {
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}

footer p {
  color: var(--light-accent);
}

a:link {
  text-decoration: none;
  font-size: medium;
  padding-right: 10px;
  color: var(--teal);
}

a:visited {
  color: grey;
}

a:hover {
  color: blanchedalmond;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.navbar-logo {
  border-radius: 100%;
  vertical-align: middle !important;
}

.navbar-nav {
  flex-direction: row;
}
nav a span {
  font-size: large;
  font-weight: 600;
}

.hello-world,
.projects,
.skills,
.contacts {
  padding-bottom: 25px;
  padding-left: 150px;
  padding-right: 150px;
}

.section-title,
.section-title code {
  color: black;
  padding-bottom: 10px;
}

.hello-world img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.hello-world p {
  text-align: justify;
}

.cardContainer {
  text-align: center;
}

.spacing {
  padding: 0px 30px 30px 30px;
}

.content {
  padding: 50px;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.btn-dark {
  color: var(--link-redirect);
}

.btn-dark:hover {
  color: var(--link-hover);
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.skills-bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.html {
  width: 80%;
  background-color: black;
}

.css {
  width: 60%;
  background-color: darkgrey;
}

.js {
  width: 5%;
  background-color: lightgrey;
}

.skills-tags {
  padding-top: 20px;
}
