body {
  padding-top: 100px;
}

a:link {
  text-decoration: none;
  color: goldenrod;
}

a:visited {
  color: teal;
}

a:hover {
  color: grey;
}

.navbar-logo {
  border-radius: 100%;
  vertical-align: middle !important;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav a {
  padding-right: 10px;
}

footer h4 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
